@model IEnumerable<SweetCreativity.Core.Entities.Listing>

@{
    ViewData["Title"] = "Index";
}

<h1>Оголошення</h1>
<p>
    <a asp-controller="User" asp-action="Create" class="btn btn-primary">Зареєструватися</a>
</p>

<p>
    <a asp-action="Create" class="btn btn-primary">Нове оголошення </a>
</p>



<div class="row">
    @for(int i=0;  i < 1; i++) 
    {
    foreach (var listing in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 18rem;">
                    <img src="@listing.CoverPath" class="card-img-top" alt="@listing.Title">
                <div class="card-body">
                    <h5 class="card-title">@listing.Title</h5>
                    <p class="card-text">@listing.Description</p>
                    <a href="/listing/details/@listing.Id" class="btn btn-outline-primary">Детальніше</a>
                </div>
            </div>
        </div>
    }

    }
</div>