<ul class="navbar-nav flex-grow-1">
    @*<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Listing" asp-action="Index">Оголошення</a>
    </li>

    @if (User.IsInRole("Seller"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="SellerListing" asp-action="Index">Мої оголошення</a>
        </li>
    }

    @if (User.IsInRole("Client"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ClientListing" asp-action="Index">Оголошення</a>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Користувачі</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Користувачі</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Замовлення</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Construction" asp-action="Index">Індивідуальні замовлення</a>
    </li>
</ul>